<div class='center hero-unit'>
  <h1>Welcome to OneMonth Rails</h1>
  <h2>
    You've found the home page for
    <a href="http://omrails.com/"> One Month Rails</a>
    first application
  </h2>
  <%= link_to "Sign up now!", '#', class: "btn btnplarge btn-primary" %>
</div>